{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container mx-auto text-right my-5" dir="rtl">





    <section id="grouping" class="row">
        <div  class=" col-md-4 ">
            <div class="bg-color-daisy p-3 radius">
                <h5 class="text-right">
                    دسته بندی مقالات
                </h5>
                <div class="mr-4">
                    <a href="#">
                        دسته بندی مقاله 1
                    </a>
                </div>
                <div class="mr-4">
                    <a href="#">
                        دسته بندی مقاله 1
                    </a>
                </div>
                <div class="mr-4">
                    <a href="#">
                        دسته بندی مقاله 1
                    </a>
                </div>
            </div>
.
        </div>


        <div class="card mb-3 p-0 col-12 col-md-8 " >
            <!--عکس مقاله-->
            <img class=" card-img-top" src="{% static 'images/141.jpg' %}" alt="Card image cap" >
            <div style="margin-top: -30px">
                <div class="mr-4 color-white" >
                    <!--تاریخ مقاله-->
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                   {{ news.تاریخ_انتشار }}
                </div>
            </div>
            <!--عنوان مقاله ....-->
            <h3 class="card-title mr-4 mt-4">ساتختار لوله های مانیسمان</h3>

            <br>
            <div class="card-body ">
                <div class="container">

                    <!--متن مقاله-->

                    <p class="card-text text-right">
                        لوله‌ها از حیث جنس، کاربرد، نحوه‌ی ساخت و نحوه‌ی اتصالات به انواع مختلفی تقسیم می‌شوند. با توجه به رشد سریع ساخت و ساز و تاسیسات و تقاضای بالای صنایع، یکی از کالاهایی که با افزایش حجم تولید مواجه است، انواع لوله‌ها برحسب کاربرد می‌باشد.
                        <br>
                        لوله‌ها که به دو دسته‌ی کلی آهنی و غیرآهنی تقسیم می‌شوند هر کدام دارای زیرمجموعه‌هایی هستند که به فراخور کاربرد با تیراژ متفاوت تولید همراه هستند. در این میان با توجه به منابع معدنی موجود در کشور، تولیدات آهنی و فولادی در ایران دارای جایگاه ویژه‌ای هستند. بطور کلی لوله‌های فولادی تجاری برای تاسیسات حرارت مرکزی، تهویه‌، انتقال نفت و روغن در فشارهای پایین و نوع گالوانیزه‌ی آن جهت آبرسانی کاربرد دارد.
                        <br>
                        در این میان لوله‌های مانیسمان (لوله‌ی بدون درز) که زیرمجموعه‌ی لوله‌های فولادی محسوب می‌شوند، در دنیا به‌دلیل اینکه در صنایع نفت و گاز روز به روز بیشتر  استفاده می‌شود برای بسیاری از سرمایه‌گذاران در این حوزه اهمیت و جذابیت دارد. لذا غالب مقاله‌ی حاضر به بررسی لوله‌های فولادی و بخصوص از نوع بدون درز (مانیسمان) می‌پردازد.
                        <br>
                        <br>
                        لوله های مانیسمان (بدون درز) در برابر فشار بالا، دمای بالا، فشار مکانیکی و فرسایش میتوانند مقاومت کنند و در برنامه های کاربردی گسترده ای در زمینه های نفت و گاز، پالایشگاه، پتروشیمی، شیمیایی، کود، برق، خودرو، بلبرینگ، مکانیک و ساخت و ساز مورد استفاده قرار بگیرند.
                        <br>
                        علی الخصوص برای حمل و نقل گاز و مایع فشار بالا مورد توجه هستند و بهترین گزینه برای سیستم لوله کشی صنعتی و پالایشگاهی محسوب می شوند. این لوله ها بدون درز و نقص هندسی هستند و کل لوله دارای خواص یکسان و یکنواخت است
                        <br>
                        لوله مانیسمان در ابعاد بسیار کوچک هم با دقت و مقاومت زیاد ساخته می شوند و برای تولید انبوه مناسب است به طوری که 33 فوت آن در عرض 6 ثانیه ساخته می شود. لوله های مانیسمان (لوله بدون درز) و لوله های درز دار یا جوشی هر کدام کاربرد های مختلفی دارند.
                        <br>
                        اصولا وقتی نیاز به لوله ای با مقاومت بالا در مقابل فشار باشد لوله مانیسمان یا بدون درز استفاده می شود. لوله مانیسمان (لوله بدون درز) با قطر دیواره بیشتر کاربردی تر و مقرون به صرفه ترند و هر چه قطر دیواره کمتر باشد گرانترند. لوله مانیسمان (لوله بدون درز) معمولا از جنس فولاد و استنلس استیل هستند.

                    </p>
                </div>

            </div>
        </div>
    </section>



</div>
{% endblock %}